@charset "UTF-8";
@import "utilities/value";

.eventheader {
  top: 0px;
  width: 100%;
  display: block;
  background-color: #fff;
  z-index: 99;

  .lineFBBt {
    height: 35px;
    line-height: 35px;
    background-color: #4267b2;
    border-radius: 5px;
    border: 1px solid #4267b2;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 0 5px;
    font-size: 14px;
  }

  .lineLINEBt {
    height: 35px;
    line-height: 35px;
    background-color: #01b901;
    border-radius: 5px;
    border: 1px solid #01b901;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 0 5px;
    font-size: 14px;
  }

  .g-main {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      flex: 0 0 auto;
      height: 35px;
      width: 120px;

      display: block;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .share {
      flex: 0 0 auto;
      margin-left: auto;
      font-size: 14px;

      a {
        display: inline-block;
      }
    }
  }
}



// *******************
// footer
// *******************
.footer {
  border-top: #eeeeee 2px solid;
  font-size: 12px;
  color: #666666;
  padding: 12px;

}